* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 1fr;

    grid-template-areas:
        "side header"
        "side main";
}

.header {
    background-color: #fff;

    grid-area: header;
}

.header a {
    color: black;
    padding-bottom: 1rem;
    font-size: 40px;
    text-decoration: none;
    font-family: 'Rubik Doodle Triangles', system-ui;
}

.sidebar {
    background-color: rgb(24, 19, 19);
    grid-area: side;
}

.main {
    background-color: #c1c1c1;

    grid-area: main;

    /* nested grid */

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    grid-template-areas:
        "c1 c2 c3"
        "c4 c4 c5"
        "c4 c4 c6";

}

.card {
    background-color: #f2d2d2;
    border-radius: 20px;
    padding: 1rem;
    margin: 1rem;
}

.card:nth-child(1) {
    grid-area: c1;
}


.card img {
    width: 80%;
}


.card:nth-child(2) {
    grid-area: c2;
}

.card:nth-child(3) {
    grid-area: c3;
}

.card:nth-child(4) {
    grid-area: c4;
}

.card:nth-child(4) h2 {
    font-size: 43px;
    text-align: center;
}

.card:nth-child(5) {
    grid-area: c5;
}

.card:nth-child(6) {
    grid-area: c6;
}

@media screen and (max-width:767px) {
    .main {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 200px);
        grid-template-areas: initial;
    }

    .card {
        grid-area: initial !important;
    }

    body {
        grid-template-columns: 100px 1fr;

    }
}

@media screen and (max-width:519px) {
    body {
        grid-template-columns: 110px 1fr;

    }

    .card img {
        width: 80%;
    }
}

.side-bar-content {
    padding: 1rem;
    color: #fff;
    position: fixed;
}

.user-info img {
    width: 50px;
    border-radius: 50%;
}

.user-info p {
    font-size: 13px;
}

.sidebar-remaining-content {
    padding: 1rem 0rem;
}

.sidebar-remaining-content p {
    font-size: 19px;
    margin: 2rem 0rem;
    transition: 1s;
    cursor: pointer;
}

.sidebar-remaining-content p:hover,
.active {
    background: green;
    color: white;
    border-radius: 20px;
    padding: 1rem;
    transition: .5s;
}

@media screen and (max-width:767px) {
    .user-info p {
        font-size: 10px;
    }

    .sidebar-remaining-content p {
        font-size: 12px;
        margin: 2rem 0rem;
        transition: 1s;
        cursor: pointer;
    }
}