* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 1fr;

    grid-template-areas:
        "side header"
        "side main";
}

.header {
    background-color: #fff;

    grid-area: header;
}

.header a {
    color: black;
    padding-bottom: 1rem;
    font-size: 40px;
    text-decoration: none;
    font-family: 'Rubik Doodle Triangles', system-ui;
}

.sidebar {
    background-color: rgb(24, 19, 19);
    grid-area: side;
}

.main {
    background-color: #c1c1c1;

    grid-area: main;

    /* nested grid */

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    grid-template-areas:
        "c1 c2 c3"
        "c4 c4 c5"
        "c4 c4 c6";

}

.card {
    background-color: #eff2d2;
    border-radius: 20px;
    padding: 1rem;
    margin: 1rem;
    transition: 1s;
}

.card h2 {
    padding: 1rem 0rem;
    font-size: 30px;
}

.card:nth-child(1) {
    grid-area: c1;
}

.card:nth-child(1):hover {
    background: black;
    color: white;
    transition: .5s;
    cursor: pointer;
}

.card i {
    color: brown;
}



.card:nth-child(2) {
    grid-area: c2;
    background: #E5E483;
}

.card:nth-child(2):hover {
    background: black;
    color: white;
    transition: .5s;
    cursor: pointer;
}

.card:nth-child(3) {
    grid-area: c3;
    background: #8583e5;
}

.card:nth-child(3):hover {
    background: black;
    color: white;
    transition: .5s;
    cursor: pointer;
}

.card:nth-child(4) {
    grid-area: c4;
    background-color: #f2d2d2;
}

.card:nth-child(4) h2 {
    font-size: 33px;
    text-align: center;
}

.card:nth-child(4) p {
    font-size: 14px;
    text-align: center;
    padding-top: 1rem;
}

.card:nth-child(4) .i-fa {
    text-align: center;
}

.card:nth-child(4) .i-fa i {
    font-size: 160px;
}

@media screen and (max-width:967px) {

    .card:nth-child(4) h2 {
        font-size: 33px;
        text-align: center;
        padding-top: 0rem;
    }


    .card:nth-child(4) .i-fa i {
        font-size: 30px;
        padding-top: 0rem;
    }

    .card:nth-child(4) p {
        font-size: 14px;
        text-align: center;
        padding: 1rem 0rem;
    }
}

@media screen and (max-width:467px) {
    .card:nth-child(4) h2 {
        font-size: 20px;
        text-align: center;
    }
}

.card:nth-child(5) {
    grid-area: c5;
    background: #83e598;
}

.card:nth-child(5):hover {
    background: black;
    color: white;
    transition: .5s;
    cursor: pointer;
}

.card:nth-child(6) {
    grid-area: c6;
    background: #e58383;
}

.card:nth-child(6):hover {
    background: black;
    color: white;
    transition: .5s;
    cursor: pointer;
}

@media screen and (max-width:967px) {
    .main {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 200px);
        grid-template-areas: initial;
    }

    .card {
        grid-area: initial !important;
    }

    body {
        grid-template-columns: 150px 1fr;

    }
}

@media screen and (max-width:519px) {
    body {
        grid-template-columns: 110px 1fr;

    }

    .card img {
        width: 80%;
    }
}

.side-bar-content {
    padding: 1rem;
    color: #fff;
    position: fixed;
}

.user-info img {
    width: 50px;
    border-radius: 50%;
}

.user-info p {
    font-size: 13px;
}

.sidebar-remaining-content {
    padding: 1rem 0rem;
}

.sidebar-remaining-content p {
    font-size: 19px;
    margin: 2rem 0rem;
    transition: 1s;
    cursor: pointer;
}

.sidebar-remaining-content p:hover,
.active {
    background: green;
    color: white;
    border-radius: 20px;
    padding: 1rem;
    transition: .5s;
}

@media screen and (max-width:767px) {
    .user-info p {
        font-size: 10px;
    }

    .sidebar-remaining-content p {
        font-size: 12px;
        margin: 2rem 0rem;
        transition: 1s;
        cursor: pointer;
    }
}

.header-left {
    padding-left: 1rem;
    text-align: right;
}

.header-left i {
    font-size: 26px;
    color: #35374B;
    cursor: pointer;
    transition: .5s;
    margin: 0rem 1rem
}

.header-left i:hover {
    color: #D2D180;
    transition: .5s;
}


@media screen and (max-width:415px) {
    .header-left {
        padding-left: 0rem;
        text-align: left;
    }

    .header-left i {
        font-size: 20px;
        color: #35374B;
        cursor: pointer;
        transition: .5s;
        margin: 0rem 1rem
    }
}