html {
    scroll-behavior: smooth;
}

/* the head */
.head-up {
    padding-top: 3rem;
    text-align: center;
}


/* The head content */
.head-upper h2 {
    font-size: 59px;
    color: #0766AD;
    font-weight: 700;
}

.head-upper h3 {
    padding-top: 10px;
    font-size: 30px;
    font-weight: 300;
}

/* The linked buttons header */
.another-head {
    padding-top: 3rem;
}

.another-head-text h3 {
    font-size: 30px;
}

/* The link buttons content styling */
.another-content {
    /* margin-top: 1rem; */
    padding: 1rem;
}

.another-content a {
    text-decoration: none;
    border: 1px solid #e9e2e2;
    padding: 1rem;
    margin: 10px;
    font-size: 20px;
    border-radius: 50px;
    color: #000;
    text-align: center;
    display: inline-block;
}

/* The media screen */
@media screen and (max-width:609px) {
    .head-upper h2 {
        font-size: 40px;
        padding: 10px;
    }

    .head-upper h3 {
        padding: 10px;
        font-size: 25px;
        font-weight: 300;
    }
}

@media screen and (max-width:437px) {
    .head-upper h2 {
        font-size: 35px;
        padding: 10px;
    }

    .head-upper h3 {
        padding: 10px;
        font-size: 20px;
    }
}


.trending {
    padding: 3rem 3rem;
}

.trending-head h2 {
    font-size: 30px;
    padding-bottom: 10px;
}

.trending-articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


.trend-content {
    padding-top: 2rem;
}

.trend-content img {
    width: 100%;
    border-radius: 30px;
}

.trend-content h3 {
    padding-top: 1rem;
    font-size: 30px;
    font-weight: 400;
    color: #0766AD;
}

.trend-content p {
    color: #7a7a7a;
}

@media screen and (max-width:1103px) {
    .trending-articles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .trend-content h3 {
        padding-top: 1rem;
        font-size: 25px;
        font-weight: 400;
        color: #0766AD;
    }

    .trending {
        padding: 3rem 2rem;
    }
}

@media screen and (max-width:697px) {
    .trending-articles {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .trend-content h3 {
        padding-top: 1rem;
        font-size: 25px;
        font-weight: 400;
        color: #0766AD;
    }

    .trending {
        padding: 3rem 1rem;
    }
}

.basics {
    background: linear-gradient(rgba(0, 0, 0, 0.5), #110808), url(images/new\ main.webp);
    min-height: 300px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.basics-text {
    padding: 3rem;
    color: aliceblue;
}

.basics-text h2 {
    font-size: 70px;
}

.basics-text h3 {
    font-size: 30px;
    font-weight: 300;
}

@media screen and (max-width:716px) {
    .basics-text h2 {
        font-size: 40px;
    }

    .basics-text h3 {
        font-size: 20px;
        font-weight: 300;
    }
}

@media screen and (max-width:407px) {
    .basics-text h2 {
        font-size: 35px;
    }

    .basics-text {
        padding: 2rem;
        color: aliceblue;
    }

    .basics-text h3 {
        padding-top: 10px;
        font-size: 16px;
        font-weight: 300;
    }
}