.pro-text p {
    padding: 1rem;
}

/* Web div */
.web {
    background: #020322;
    color: #fff;
    padding-top: 2rem;
}

/* Web div head */
.webs-head {
    text-align: center;
    padding: 10px;
}

.webs-head h2 {
    font-size: 30px;
    font-weight: 300;
}

/* Where the grid lies */
.webs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* The box of content */
.webs-box {
    background: #0B2447;
    margin: 2rem;
    border-radius: 30px;
    width: 370px;
}

/* The content and words inside */
.content-webs {
    text-align: left;
    padding: 2rem;
}

.content-webs h2 {
    font-size: 30px;
    padding-bottom: 20px;
    font-weight: 400;
}

.content-webs p {
    font-weight: 300;
}

/* The web image in the box */
.webs-img {
    text-align: center;
    padding-top: 3rem;
}

.webs-img img {
    border-radius: 20px;
    width: 90%;
}

/* The video section */

.vid-way {
    background: rgb(29, 26, 43);
    color: var(--main-text-color);
    padding-top: 2rem;
}

/* The head section */
.vid-way-head {
    text-align: center;
    padding: 1rem;
}

.vid-way-head h2 {
    font-weight: 400;
    font-style: oblique;
    font-variant: small-caps;
}

/* The content */
.vid-way-content {
    padding: 1rem;
}

.vid-way-content h2 {
    font-size: 30px;
    padding: 1rem 0rem;
    font-weight: 500;
}

.vid-way-content p {
    padding-bottom: 1rem;
}


/* The video */
.vid-video {
    width: 60%;
}

.vid-way-video {
    padding-top: 1rem;
    border-radius: 20px;
}

.vid-way-content:nth-child(3) {
    text-align: right;
}

/* The new media screen */
@media screen and (max-width:647px) {
    .vid-video {
        width: 90%;
    }
}

@media screen and (max-width:509px) {
    .vid-video {
        width: 100%;
    }

    .vid-way-content p {
        padding: 1rem;
        font-size: 13px;
    }

    .vid-way-content {
        text-align: center;
        padding: 1rem;
    }

    .vid-way-content:nth-child(3) {
        text-align: center;
    }
}

/* The bigger column section */

.pro-column {
    background: #020322;
    color: #fff;
    padding-top: 2rem;
}

.pro-code {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.pro-code-image {
    padding-left: 4rem;
}

.pro-code-image img {
    width: 50%;
}

.pro-inputs {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.pro-input-content {
    margin: 1rem;
    background: #0B2447;
    padding: 2rem;
    border-radius: 30px;
    width: 300px;
}

.pro-input-content i {
    color: green;
    text-align: center;
    font-size: 40px;
    padding: 20px;
}

.pro-input-content h2 {
    padding-bottom: 10px;
}

.head-column {
    text-align: center;
    font-size: 30px;
    padding: 10px;
}

/* media screen */

@media screen and (max-width:1459px) {
    .pro-code-image {
        padding: 4rem;
    }

    .pro-code-image img {
        width: 70%;
    }
}

@media screen and (max-width:1269px) {
    .pro-code-image img {
        width: 100%;
    }
}

@media screen and (max-width:1079px) {
    .pro-code-image img {
        width: 100%;
        display: none;
    }

    .pro-code-image {
        padding: 0rem;
    }

    .pro-code {
        padding-top: 0rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .pro-inputs {
        padding: 0rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .head-column {
        text-align: center;
        font-size: 20px;
        padding: 1rem 10px;
    }
}

/* Order section */
.order-section {
    background: #050402;
    color: #fff;
    padding-top: 2rem;
}

/* Order head */
.order-head {
    text-align: center;
    padding: 10px;
}

.order-head h2 {
    font-weight: 500;
    font-size: 40px;
}

/* Where the grid lies */
.order {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* image Div */
.orders {
    padding-top: 1rem;
    text-align: center;
}

/* The img */
.orders img {
    width: 90%;
}

/* The content under */
.under-content {
    text-align: center;
    padding: 2rem;
}

.under-content p {
    padding: 1rem;
}

.Achieved {
    background: #020322;
    color: #fff;
    padding-top: 2rem;
}

.achieved-head {
    text-align: center;
    padding: 10px;
}

.achieved-head h2 {
    font-size: 30px;
    font-weight: 500;
}

.achieved-pro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.acheived-box {
    background: #0B2447;
    margin: 1rem;
    border-radius: 20px;
    padding-top: 2rem;
    width: 250px;
    text-align: center;
}

.acheived-box h4 {
    font-weight: 300;
    color: #aeadad;
    /* padding-bottom: 10px; */
    font-size: 14px;
}

.acheived-box h2 {
    font-size: 30px;
    font-weight: 400;
}

.acheived-box p {
    color: #aeadad;
    margin-bottom: 1rem;
}

.achieve-content {
    text-align: center;
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.achieve-content-img {
    padding-bottom: 1rem;
}

.achieve-content-img img {
    width: 50%;
}