#hero {
    padding: 2rem;
    background: var(--main-color);
    height: auto;
}

.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.hero-text {
    margin: 2rem;
}

.hero-text h2 {
    font-size: 3.5rem;
    color: var(--main-text-color);
}

.company {
    padding-top: 3rem;
}

.hero-img img {
    width: 100%;
    color: var(--main-color);
}

/* RESPONSIVE FOR LANDING PAGE */

@media screen and (max-width:1200px) {
    .hero-text h2 {
        font-size: 2rem;
    }
}

@media screen and (max-width:834px) {
    .hero-text h2 {
        font-size: 2rem;
    }

    .hero {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:440px) {
    .hero-text h2 {
        font-size: 2rem;
        text-align: center;
    }

    .hero-text {
        margin: 2rem 0rem;
    }

    .company {
        padding-top: 3rem;
        text-align: center;
    }

    .hero-img img {
        text-align: center;
    }

    .hero-img img {
        width: 100%;
        color: var(--main-color);
    }
}

#trader {
    /* background: var(--main-color); */
    color: var(--main-text-color);
    background: black;
}

.trade {
    padding-top: 4rem;
}

.trade-text {
    text-align: center;
}

.trade-text h1 {
    font-size: 40px;
}

.trade-text p {
    color: rgb(125, 125, 125);
    padding-top: 10px;
}

.trade-video {
    text-align: center;
}

.video {
    width: 70%;
    padding: 2rem 0rem;
}

@media screen and (max-width:939px) {
    .video {
        width: 100%;
        padding: 2rem 0rem;
    }
}

@media screen and (max-width:535px) {
    .trade-text h1 {
        font-size: 30px;
    }

    .trade-text p {
        color: rgb(125, 125, 125);
        padding: 10px;
    }
}